
xxtea/acinclude.m4

xxtea/aclocal.m4

xxtea/build

xxtea/autom4te.cache

xxtea/config.guess

xxtea/config.sub

xxtea/configure

xxtea/configure.in

xxtea/install-sh

xxtea/ltmain.sh

xxtea/Makefile.global

xxtea/missing

xxtea/mkinstalldirs

xxtea/run-tests.php
