
acinclude.m4
aclocal.m4
build
autom4te.cache
config.guess
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
nbproject
Makefile
Makefile.*
config.h
config.h.in
config.log
config.nice
config.status
.deps
libtool
*.la
*.lo
*.so
.libs